@media only screen and (max-width: 420px) {
    * {
        margin: 0;
        padding: 0;
    }

    ::-webkit-input-placeholder {
        color: rgb(26,115,232);
    }

    ::-moz-placeholder {
        color: rgb(26,115,232);
    }
    
    hr {
        border-color: rgb(26,115,232);
    }

    h2 {
        margin-top: 1em;
        text-align: center;
        color: rgb(26,115,232);
    }

    button.m_Btn {
        display: block;
        margin: 0.6em auto;
        border-radius: 8px;
        outline: none;
        font-size: 1.5em;
        padding: 0.4em;
        color: white;
        background-color: rgb(26,115,232);
    }

    input.sendData {
        display: block;
        margin: 0.6em auto;
        border-radius: 8px;
        outline: none;
        font-size: 1.5em;
        padding: 0.4em;
        color: white;
        background-color: rgb(26,115,232);
    }

    input.radio {
        margin-top: 1em;
        margin-left: 2em;
        margin-right: 1em;
    }

    a.newAcc {
        top: 80%;
        text-decoration: none;
        display: block;
        text-align: center;
        width: 70%;
        margin: 0.6em auto;
        border-radius: 8px;
        outline: none;
        font-size: 1.5em;
        padding: 0.4em;
        color: white;
        background-color: rgb(26,115,232);
    }

    div.radio {
        margin-top: 2em;
        margin-left: 3em;
        margin-bottom: 5em;
    }

    label {
        color: rgb(26,115,232);
    }

    input[type="radio"]:checked, 
    input[type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    input[type="radio"]:checked + label, 
    input[type="radio"]:not(:checked) + label {
        display: inline-block;
        position: relative;
        padding-left: 28px;
        line-height: 20px;
        cursor: pointer;
    }

    input[type="radio"]:checked + label:before, 
    input[type="radio"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 18px;
        height: 18px;
        border: 1px solid rgb(26,115,232);
        background-color: #ffffff;
    }

    input[type="radio"]:checked + label:before, 
    input[type="radio"]:not(:checked) + label:before {
        border-radius: 100%;
    }

    input[type="radio"]:checked + label:after, 
    input[type="radio"]:not(:checked) + label:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    input[type="radio"]:checked + label:after, 
    input[type="radio"]:not(:checked) + label:after {
        left: 5px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: rgb(26,115,232);
    }

    input[type="radio"]:not(:checked) + label:after {
        opacity: 0;
    }
     
    input[type="radio"]:checked + label:after {
        opacity: 1;
    }

    .month {
        display: inline-block;
        width: 40%;
        margin-bottom: 1em;
        margin-left: 3em;
        font-size: 1.2em;
    }

}