@media only screen and (max-width: 420px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

/*#################--| Index Style |--#################*/

    div#mobileIndex {
        display: block;
        position: fixed;
        width: 100%;
        height: 40%;
        top: 20%;
    }

    a.indexLink {
        display: block;
        width: 50%;
        margin: 2em 25%;
    }

    button.indexBtn {
        width: 100%;
        font-size: 1.2em;
        background-color: rgb(26,115,232);
        color: white;
        border-radius: 30px;
        padding: 5px;
        outline: none;
    }

    div.signBtn {
        display: none;
    }

/*#################--| Sign Style |--#################*/
    
    h2 {
        color: rgb(26,115,232);
        text-align: center;
        margin-top: 3em;
    }

    form {
        width: 100%;
        height: 80%;
        margin-top: 20%;
    }

    select {
        display: block;
        margin: 0 auto;
    }

    input {
        display: block;
        margin: 0 auto;
        margin-top: 1.5em;
        border: 2px solid rgb(26,115,232);
        outline: none;
        padding: 4px;
        font-size: 1.3em;
        border-radius: 20px;
        text-align: center;
        color: rgb(26,115,232);
    }

    ::-webkit-input-placeholder {
        color: rgb(26,115,232);
    }

    ::-moz-placeholder {
        color: rgb(26,115,232);
    }

    input:focus {
        color: white;
        background-color: rgb(26,115,232);
        transition-duration: 400ms;
    }

    button.btnReg {
        width: 70%;
        margin: 1em 15%;
        font-size: 1.2em;
        background-color: rgb(26,115,232);
        color: white;
        border-radius: 30px;
        padding: 5px;
        outline: none;
    }

    div.radio {
        text-align: center;
    }

    label {
        color: rgb(26,115,232);
    }

    input[type="radio"]:checked, 
    input[type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    input[type="radio"]:checked + label, 
    input[type="radio"]:not(:checked) + label {
        display: inline-block;
        position: relative;
        padding-left: 28px;
        line-height: 20px;
        cursor: pointer;
    }

    input[type="radio"]:checked + label:before, 
    input[type="radio"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 18px;
        height: 18px;
        border: 1px solid rgb(26,115,232);
        background-color: #ffffff;
    }

    input[type="radio"]:checked + label:before, 
    input[type="radio"]:not(:checked) + label:before {
        border-radius: 100%;
    }

    input[type="radio"]:checked + label:after, 
    input[type="radio"]:not(:checked) + label:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    input[type="radio"]:checked + label:after, 
    input[type="radio"]:not(:checked) + label:after {
        left: 5px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: rgb(26,115,232);
    }

    input[type="radio"]:not(:checked) + label:after {
        opacity: 0;
    }
     
    input[type="radio"]:checked + label:after {
        opacity: 1;
    }


}